%%% -*- mode:erlang -*-
%%% Warning - this config file *must* end with <dot><whitespace>

[ {webmachine_examples, []},

  {we_web, [{webmachine_ip, any},
            {webmachine_port, "8080"}]},

  {we_db, [{server, "beerenthusiasts.cloudant.com"},
           {port, 80},
           {database, "webmachine_examples"}]}
 ].
